extends layout

block content

    .body
        .container
            nav.navbar
                a.link(href='/planificacionVuelos')
                    button.button Registrar Ruta
                a.link(href='/adminRutas')
                    button.button Administrar Rutas 
                a.link(href='/verVuelos')
                    button.button Administrar Vuelos
                a.link(href='/adminServiciosVuelos')
                    button.button Servicios Vuelos
                a.link(href='/adminVuelosCancelados')
                    button.button Vuelos Cancelados
                a.link(href='/adminDesvios')
                    button.button Administrar Desvíos                    
                a.link(href='/')
                    button.button1 Home
            hr
            table.table.bg-white
                thead
                    tr 
                        th(scope='col') Número de Vuelo
                        th(scope='col') Origen
                        th(scope='col') Destino
                        th.inv
                        th.mod(scope='col') Eliminar
                tbody
                - for (var i = 0; i < vuelosCancelados.length; i++)
                    tr
                   
                        td #{vuelosCancelados[i].N_Vuelo}
                        td #{vuelosCancelados[i].Origen}
                        td #{vuelosCancelados[i].Destino}
                        td.inv
                        td
                            form(action=`adminVuelosCancelados/${vuelosCancelados[i].N_Vuelo}`,method="POST")
                                button.btn.btn-outline-danger(type='submit') Eliminar