extends layout

block content
  .body
    .container
      nav.navbar
        a.link(href='/ventas')
          button.button Venta de Pasajes
        a.link(href='/planificacionVuelos')
          button.button Planificaci&oacute;n de Vuelos
        a.link(href='/planificacionAviones')
          button.button Planificaci&oacute;n de Aviones
        a.link(href='/adminAeropuertos')
          button.button Manejo de Aeropuertos
        a.link(href='/manejoPersonal')
          button.button Manejo de Personal
        a.link(href='/reportes')
          button.button Reportes

        h1.brand-title  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bienvenido a Vuelos Guacamaya
