html

  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Vuelos Guacamaya
    link(rel='stylesheet' href="/stylesheets/style.css")
    link(rel='icon' type='image/x-icon' href='http://www.iconj.com/ico/8/s/8snl0ljgka.ico')

  body
    block header
    header
      img.center(src='https://www.tryimg.com/u/2019/01/25/VGbf1112121741df9d.png' width='30%' height='30%' position='absolute' top='0')

          
  block footer
    footer
      .containercenter
        p
          | &copy;
          script.
            document.write(new Date().getFullYear());
          |  Jesus Perez, Gilberto Pucciarelli y Vito Tatoli

  block content
