extends index

block body

    main

        .container
            nav.navbar
                a.link(href='')
                    button.button Registrar Ruta
                a.link(href='')
                    button.button Modificar Ruta
                a.link(href='')
                    button.button Eliminar Ruta
                a.link(href='')
                    button.button Lista de Rutas
                a.link(href='/')
                    button.button1 Home