extends layout

block content
    .body
        
        .container
            nav.navbar
                a.link(href='/ventas')
                    button.button Registrar Pasajeros
                a.link(href='/verventas')
                    button.button Administrar Pasajeros
                a.link(href='/verReservas')
                    button.button Ventas
                a.link(href='/')
                    button.button1 Home

            form(method="POST" action="/ventas")
                .container2
                    h1.t2 Registrar
                    .pRegistro.t1 Por favor rellene el formulario con los datos correspondientes para ingresar los datos de un pasajero
                    hr

                    label(for='nombre')
                        b.t2 Nombre
                    input.form-control(type='text' placeholder='Ingresar Nombre' name='Nombre' required='')
                    label(for='apellido')
                        b.t2 Apellido
                    input.form-control(type='text' placeholder='Ingresar Apellido' name='Apellido' required='')
                    label(for='pasaporte')
                        b.t2 Pasaporte
                    input.form-control(type='text' placeholder='Ingresar Pasaporte' name='Pasaporte' required='')
                    label(for='cedula')
                        b.t2 Cédula
                    input.form-control(type='text' placeholder='Ingresar Cédula' name='Cedula' required='')
                    label(for='correo')
                        b.t2 Correo
                    input.form-control(type='text' placeholder='Ingresar Correo' name='Correo' required='')
                    label(for='telefono')
                        b.t2 Teléfono
                    input.form-control(type='text' placeholder='Ingresar Teléfono' name='Telefono' required='')
                    
                hr
                button.registerbtn(type="submit", value="add") Registrar